html {
  background: url('../images/crossword.png') repeat left top;
}

body {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display',
}

h1 {
  font-size: 54px;
  margin-bottom: 20px;
  margin-top: 40px;
}